S3method("names<-",parameters)
S3method(names,parameters)
export(make_cleanup)
export(make_dieckmann_1999)
export(make_mutation)
export(make_parameters)
export(make_step)
export(run)
export(to_grid)
importFrom(mvtnorm,rmvnorm)
