S3method("names<-",parameters)
S3method(names,parameters)
export(abcline)
export(discretise)
export(huisman_mat_1)
export(huisman_mat_2)
export(huisman_mat_2_tradeoff)
export(huisman_matrices)
export(huisman_matrices_fixed)
export(make.transparent)
export(make_cleanup)
export(make_dieckmann_1999)
export(make_fox_2008)
export(make_huisman_2001)
export(make_huisman_identity)
export(make_huisman_mat_constant)
export(make_kisdi_1999)
export(make_mutation)
export(make_parameters)
export(make_step)
export(make_step_continuous)
export(make_step_deterministic)
export(make_step_equilibrium)
export(make_step_mutation_limited)
export(make_transparent)
export(run)
export(to_grid)
importFrom(deSolve,lsoda)
importFrom(mvtnorm,rmvnorm)
importFrom(nleqslv,nleqslv)
importFrom(numDeriv,grad)
importFrom(rootSolve,runsteady)
